# Database (Hostinger MySQL)
DB_HOST=srv497.hstgr.io
DB_PORT=3306
DB_NAME=u992747032_qhcare
DB_USER=u992747032_qhcare
DB_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=dehknghwm
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Auth / app secrets
NEXTAUTH_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=
